In [1]:

import pandas as pd

/Users/shelbyjouppi/.pyenv/versions/3.9.7/lib/python3.9/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [3]:
# Importing daily reports for Denver County air quality from EPA's Air Quality Index Daily Reports
df_2020 = pd.read_csv('aqidaily2020.csv')
df_2021 = pd.read_csv('aqidaily2021.csv')

In [4]:
df_2020

,Date,Overall AQI Value,Main Pollutant,Site Name (of Overall AQI),Site ID (of Overall AQI),Source (of Overall AQI),CO,Ozone,PM10,PM25,NO2
0,01/01/2020,54,NO2,Globeville,08-031-0028,AQS,10,39,9,24,54
1,01/02/2020,50,NO2,Globeville,08-031-0028,AQS,7,31,.,27,50
2,01/03/2020,49,NO2,Globeville,08-031-0028,AQS,7,33,.,29,49
3,01/04/2020,43,NO2,DENVER - CAMP,08-031-0002,AQS,7,36,29,19,43
4,01/05/2020,43,NO2,Globeville,08-031-0028,AQS,7,32,.,16,43
...,...,...,...,...,...,...,...,...,...,...,...
361,12/27/2020,38,Ozone,La Casa,08-031-0026,AQS,6,38,.,11,38
362,12/28/2020,45,PM2.5,DENVER - NJH-E,08-031-0013,AQS,6,11,.,45,41
363,12/29/2020,64,PM2.5,DENVER - NJH-E,08-031-0013,AQS,6,18,19,64,42
364,12/30/2020,52,NO2,Globeville,08-031-0028,AQS,10,13,.,43,52
365,12/31/2020,92,PM2.5,DENVER - NJH-E,08-031-0013,AQS,14,12,.,92,65

In [5]:
# Combining the two dataframes
df = pd.concat([df_2020, df_2021], ignore_index=True)

In [6]:
df

,Date,Overall AQI Value,Main Pollutant,Site Name (of Overall AQI),Site ID (of Overall AQI),Source (of Overall AQI),CO,Ozone,PM10,PM25,NO2
0,01/01/2020,54,NO2,Globeville,08-031-0028,AQS,10,39,9,24,54
1,01/02/2020,50,NO2,Globeville,08-031-0028,AQS,7,31,.,27,50
2,01/03/2020,49,NO2,Globeville,08-031-0028,AQS,7,33,.,29,49
3,01/04/2020,43,NO2,DENVER - CAMP,08-031-0002,AQS,7,36,29,19,43
4,01/05/2020,43,NO2,Globeville,08-031-0028,AQS,7,32,.,16,43
...,...,...,...,...,...,...,...,...,...,...,...
726,12/27/2021,26,Ozone,La Casa,08-031-0026,AirNow,.,26,.,23,.
727,12/28/2021,36,Ozone,La Casa,08-031-0026,AirNow,.,36,.,20,.
728,12/29/2021,33,PM2.5,Globeville,08-031-0028,AirNow,.,22,.,33,.
729,12/30/2021,37,Ozone,DENVER - CAMP,08-031-0002,AirNow,.,37,.,27,.
730,12/31/2021,35,Ozone,La Casa,08-031-0026,AirNow,.,35,.,29,.

In [8]:
# Applying Air Quality Index ranking to AQI Value
def ranking(aqi):
    if aqi <= 50:
        return 'Good'
    elif aqi <= 100:
        return 'Moderate'
    elif aqi <= 150:
        return 'Unhealthy for Sensitive Groups'
    elif aqi <= 200:
        return 'Unhealthy'
    elif aqi <= 250: 
        return 'Very Unhealthy'
    else:
        return 'Hazardous'

In [9]:
df['ranking'] = df['Overall AQI Value'].apply(ranking)
df

,Date,Overall AQI Value,Main Pollutant,Site Name (of Overall AQI),Site ID (of Overall AQI),Source (of Overall AQI),CO,Ozone,PM10,PM25,NO2,ranking
0,01/01/2020,54,NO2,Globeville,08-031-0028,AQS,10,39,9,24,54,Moderate
1,01/02/2020,50,NO2,Globeville,08-031-0028,AQS,7,31,.,27,50,Good
2,01/03/2020,49,NO2,Globeville,08-031-0028,AQS,7,33,.,29,49,Good
3,01/04/2020,43,NO2,DENVER - CAMP,08-031-0002,AQS,7,36,29,19,43,Good
4,01/05/2020,43,NO2,Globeville,08-031-0028,AQS,7,32,.,16,43,Good
...,...,...,...,...,...,...,...,...,...,...,...,...
726,12/27/2021,26,Ozone,La Casa,08-031-0026,AirNow,.,26,.,23,.,Good
727,12/28/2021,36,Ozone,La Casa,08-031-0026,AirNow,.,36,.,20,.,Good
728,12/29/2021,33,PM2.5,Globeville,08-031-0028,AirNow,.,22,.,33,.,Good
729,12/30/2021,37,Ozone,DENVER - CAMP,08-031-0002,AirNow,.,37,.,27,.,Good
730,12/31/2021,35,Ozone,La Casa,08-031-0026,AirNow,.,35,.,29,.,Good

In [10]:
df['datetime'] = pd.to_datetime(df.Date, format='%m/%y/%Y')

In [12]:
df['year'] = df.datetime.dt.year

In [15]:
df['month'] = df.datetime.dt.month

In [21]:
aq_rank = df.groupby(['year','month']).ranking.value_counts().to_frame().rename({'ranking': 'rank_count'}, axis=1).reset_index()

In [24]:
aq_rank['date'] = 15

In [35]:
def month_name (month):
    if month == 1:
        return 'January'
    if month == 2:
        return 'February'
    if month == 3:
        return 'March'
    if month == 4:
        return 'April'
    if month == 5:
        return 'May'
    if month == 6:
        return 'June'
    if month == 7:
        return 'July'
    if month == 8:
        return 'August'
    if month == 9:
        return 'September'
    if month == 10:
        return 'October'
    if month == 11:
        return 'November'
    if month == 12:
        return 'December'

In [36]:
aq_rank['month_name'] = aq_rank.month.apply(month_name)

In [53]:
aq_rank

    year  month                         ranking  rank_count  date month_name
0   2020      1                            Good          15    15    January
1   2020      1                        Moderate          15    15    January
2   2020      1  Unhealthy for Sensitive Groups           1    15    January
3   2020      2                            Good          16    15   February
4   2020      2                        Moderate          13    15   February
..   ...    ...                             ...         ...   ...        ...
56  2021     10                        Moderate           9    15    October
57  2021     11                            Good          18    15   November
58  2021     11                        Moderate          12    15   November
59  2021     12                            Good          28    15   December
60  2021     12                        Moderate           3    15   December

[61 rows x 6 columns]

In [75]:
aq_rank_pivot_21 = aq_rank.query('year == 2021').drop(columns={'date','year','month'},axis=1).pivot(index='month_name', columns='ranking').fillna(0).reset_index()

In [76]:
aq_rank_pivot_21.to_csv("denver-county-aqi-monthly-totals-2021.csv", index=False)

        month_name rank_count                     \
ranking                  Good Moderate Unhealthy
0            April       18.0     12.0       0.0
1           August        1.0     19.0       2.0
2         December       28.0      3.0       0.0
3         February       13.0     15.0       0.0
4          January       11.0     19.0       0.0
5             July        1.0     14.0       2.0
6             June        6.0     21.0       0.0
7            March       18.0     11.0       0.0
8              May       19.0     12.0       0.0
9         November       18.0     12.0       0.0
10         October       22.0      9.0       0.0
11       September       13.0     14.0       0.0


ranking Unhealthy for Sensitive Groups
0                                  0.0
1                                  9.0
2                                  0.0
3                                  0.0
4                                  1.0
5                                 14.0
6                                  3.0
7                                  2.0
8                                  0.0
9                                  0.0
10                                 0.0
11                                 3.0

In [87]:
aq_rank_pivot_20 = aq_rank.query('year == 2020').drop(columns={'date','year','month'},axis=1).pivot(index='month_name', columns='ranking').fillna(0).reset_index()

In [88]:
aq_rank_pivot_20.to_csv("denver-county-aqi-monthly-totals-2020.csv", index=False")

        month_name rank_count
ranking                  Good Moderate Unhealthy for Sensitive Groups
0            April       26.0      4.0                            0.0
1           August        3.0     20.0                            8.0
2         December       14.0     17.0                            0.0
3         February       16.0     13.0                            0.0
4          January       15.0     15.0                            1.0
5             July        8.0     22.0                            1.0
6             June       23.0      7.0                            0.0
7            March       22.0      9.0                            0.0
8              May       22.0      9.0                            0.0
9         November       15.0     15.0                            0.0
10         October       12.0     17.0                            2.0
11       September        9.0     16.0                            5.0